body {
    background: rgb(70, 157, 207) ;
}

section{
    font: normal 25pt Arial;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 750px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
    text-align: center;

}

header{
    font: normal 25pt Arial;
    color: white;
    text-align: center;
}

body h1{
    font: normal 15pt Arial;
}
body div{
    font: normal 15pt Arial;
}
body p{
    font: normal 15pt Arial;
}
input{
    font: normal 10pt Arial;
    width: 95px;
}
footer{
    
    font: normal 10pt Arial;
    color: white;
    text-align: center;
    font-style: italic;
}